html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  margin: 0;
  background-color: $white;
  color: $white;
  overflow-x: hidden;
  min-height: 460px;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

main {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  text-align: center;
}