.gallery-container {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  background-color: #e8deda;
  height: 100vh;

  .gallery-name {
    font-size: 3.5rem;
    font-family: $font_1;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 50px 0px;
    color: $accentcolor2;
    text-shadow: -1px -1px 0 $accentcolor3, 1px -1px 0 $accentcolor3,
      -1px 1px 0 $accentcolor3, 1px 1px 0 $accentcolor3;
    text-align: center;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 1400px;

    .gallery-item {
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
      }

      &:hover img {
        transform: scale(1.05);
        opacity: 0.6;
      }
    }

    .tall {
      grid-row: span 2;
      grid-column: span 1;
      height: 465px;
    }

    .square {
      grid-row: span 1;
      grid-column: span 1;
      height: 225px;
    }

    .wide {
      grid-row: span 1;
      grid-column: span 2;
      height: 225px;
    }

    .narrow {
      grid-row: span 1;
      grid-column: span 1;
      height: 75px;
    }
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  #lightbox-img {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid $white;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: $white;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: $xxxl) {
  .gallery-container {
    .gallery-name {
      font-size: 3.5rem;
    }

    .gallery {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1200px;
      width: 90%;
      gap: 10px;

      .tall {
        grid-row: span 2;
        grid-column: span 1;
        height: 430px;
      }

      .square {
        grid-row: span 1;
        grid-column: span 1;
        height: 210px;
      }

      .wide {
        grid-row: span 1;
        grid-column: span 2;
        height: 210px;
      }

      .narrow {
        grid-row: span 1;
        grid-column: span 1;
        height: 75px;
      }
    }
  }
}

@media screen and (max-width: $xxl) {
  .gallery-container {
    .gallery-name {
      font-size: 3rem;
    }

    .gallery {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1000px;
      width: 90%;
      gap: 10px;

      .tall {
        grid-row: span 2;
        grid-column: span 1;
        height: 430px;
      }

      .square {
        grid-row: span 1;
        grid-column: span 1;
        height: 210px;
      }

      .wide {
        grid-row: span 1;
        grid-column: span 2;
        height: 210px;
      }

      .narrow {
        grid-row: span 1;
        grid-column: span 1;
        height: 75px;
      }
    }
  }
}

@media screen and (max-width: $xl) {
  .gallery-container {
    padding-bottom: 50px;
    height: auto;

    .gallery-name {
      font-size: 2.5rem;
      padding: 30px 0px;
    }

    .gallery {
      grid-template-columns: repeat(4, 1fr);
      max-width: 900px;
      width: 90%;
      gap: 10px;

      .tall {
        grid-row: span 2;
        grid-column: span 1;
        height: 380px;
      }

      .square {
        grid-row: span 1;
        grid-column: span 1;
        height: 185px;
      }

      .wide {
        grid-row: span 1;
        grid-column: span 2;
        height: 185px;
      }

      .narrow {
        grid-row: span 1;
        grid-column: span 1;
        height: 75px;
      }
    }
  }
}

@media screen and (max-width: $l2) {
  .gallery-container {
    padding-bottom: 50px;
    height: auto;

    .gallery-name {
      font-size: 2.5rem;
      padding: 30px 0px;
    }

    .gallery {
      grid-template-columns: repeat(4, 1fr);
      max-width: 700px;
      width: 90%;
      gap: 10px;

      .tall {
        grid-row: span 2;
        grid-column: span 1;
        height: 330px;
      }

      .square {
        grid-row: span 1;
        grid-column: span 1;
        height: 160px;
      }

      .wide {
        grid-row: span 1;
        grid-column: span 2;
        height: 160px;
      }

      .narrow {
        grid-row: span 1;
        grid-column: span 1;
        height: 75px;
      }
    }
  }
}

@media screen and (max-width: $l) {
    .gallery-container {
      padding-bottom: 50px;
      height: auto;
  
      .gallery-name {
        font-size: 2.1rem;
        padding: 30px 0px;
      }
  
      .gallery {
        grid-template-columns: repeat(4, 1fr);
        max-width: 600px;
        width: 90%;
        gap: 10px;
  
        .tall {
          grid-row: span 2;
          grid-column: span 1;
          height: 290px;
        }
  
        .square {
          grid-row: span 1;
          grid-column: span 1;
          height: 140px;
        }
  
        .wide {
          grid-row: span 1;
          grid-column: span 2;
          height: 140px;
        }
  
        .narrow {
          grid-row: span 1;
          grid-column: span 1;
          height: 75px;
        }
      }
    }
  }

  @media screen and (max-width: $m) {
    .gallery-container {
      padding-bottom: 50px;
      height: auto;
  
      .gallery-name {
        font-size: 2rem;
        padding: 30px 0px;
      }
  
      .gallery {
        grid-template-columns: repeat(4, 1fr);
        max-width: 600px;
        width: 90%;
        gap: 10px;
  
        .tall {
          grid-row: span 2;
          grid-column: span 1;
          height: 230px;
        }
  
        .square {
          grid-row: span 1;
          grid-column: span 1;
          height: 110px;
        }
  
        .wide {
          grid-row: span 1;
          grid-column: span 2;
          height: 110px;
        }
  
        .narrow {
          grid-row: span 1;
          grid-column: span 1;
          height: 75px;
        }
      }
    }
  }

  @media screen and (max-width: $s2) {
    .gallery-container {
      padding-bottom: 50px;
      height: auto;
  
      .gallery-name {
        font-size: 1.4rem;
        padding: 30px 0px;
      }
  
      .gallery {
        grid-template-columns: repeat(4, 1fr);
        max-width: 600px;
        width: 90%;
        gap: 10px;
  
        .tall {
          grid-row: span 2;
          grid-column: span 1;
          height: 210px;
        }
  
        .square {
          grid-row: span 1;
          grid-column: span 1;
          height: 100px;
        }
  
        .wide {
          grid-row: span 1;
          grid-column: span 2;
          height: 100px;
        }
  
        .narrow {
          grid-row: span 1;
          grid-column: span 1;
          height: 75px;
        }
      }
    }
  }