* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

header {
  width: 100%;
  display: inline-block;
}
header .nav {
  width: 100%;
  display: inline-block;
}
header .nav .nav-container {
  max-width: 1750px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
header .nav .nav-container .lang-toggle {
  position: absolute;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  height: 100%;
  color: #f9efe0;
}
header .nav .nav-container .lang-toggle span {
  display: flex;
  align-items: center;
  padding: 0px 5px;
}
header .nav .nav-container .lang-toggle .lang-btn {
  color: #f9efe0;
  opacity: 1;
  cursor: pointer;
  font-family: "Poppins", serif;
  color: #f9efe0;
  letter-spacing: 3px;
  font-weight: 300;
  transition: transform 0.5s ease;
}
header .nav .nav-container .lang-toggle .lang-btn:hover {
  transform: scale(1.1);
}
header .nav .nav-container .lang-toggle .active {
  color: #ccc;
  opacity: 0.5;
}
header .nav .nav-container .lang-toggle .active:hover {
  transform: scale(1);
}
header .nav .nav-container .navigation {
  width: 100%;
  float: right;
  width: auto;
  padding: 0;
}
header .nav .nav-container .navigation .nav-mobile {
  display: none;
}
header .nav .nav-container .navigation .nav-items {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
}
header .nav .nav-container .navigation .nav-items li {
  float: left;
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}
header .nav .nav-container .navigation .nav-items li a {
  font-family: "Poppins", serif;
  color: #f9efe0;
  font-weight: 300;
  transition: transform 0.5s ease;
  letter-spacing: 3px;
}
header .nav .nav-container .navigation .nav-items li a:hover {
  transform: scale(1.1);
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@media screen and (min-width: 1400px) {
  .nav {
    height: 60px;
  }
  .nav .nav-container {
    max-width: 1750px;
    width: 85%;
  }
  .nav .nav-container .lang-toggle span {
    font-size: 1.25rem;
  }
  .nav .nav-container .navigation .nav-items li {
    height: 60px;
    padding: 10px 40px;
  }
  .nav .nav-container .navigation .nav-items li a {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1094px) and (max-width: 1400px) {
  .nav {
    height: 70px;
  }
  .nav .nav-container {
    width: 90%;
    max-width: 1200px;
  }
  .nav .nav-container .lang-toggle span {
    font-size: 1.2rem;
  }
  .nav .nav-container .navigation .nav-items li {
    height: 70px;
    padding: 10px 23px;
  }
  .nav .nav-container .navigation .nav-items li a {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1094px) {
  header {
    min-width: 370px;
  }
  header .nav {
    height: 60px;
  }
  header .nav .nav-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  header .nav .nav-container .lang-toggle span {
    font-size: 1.1rem;
  }
  header .nav .nav-container .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header .nav .nav-container .navigation .nav-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    padding: 20px;
  }
  header .nav .nav-container .navigation .nav-mobile .nav-ham {
    position: absolute;
    left: 10px;
    z-index: 3000;
    cursor: pointer;
    padding: 10px 35px 10px 0px;
  }
  header .nav .nav-container .navigation .nav-mobile .nav-ham span {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #f9efe0;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  header .nav .nav-container .navigation .nav-mobile .nav-ham span::after {
    bottom: -10px;
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #f9efe0;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  header .nav .nav-container .navigation .nav-mobile .nav-ham span::before {
    top: -10px;
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #f9efe0;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  header .nav .nav-container .navigation .nav-mobile .active span {
    background-color: transparent;
  }
  header .nav .nav-container .navigation .nav-mobile .active span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  header .nav .nav-container .navigation .nav-mobile .active span::before {
    top: 0;
    transform: rotate(45deg);
  }
  header .nav .nav-container .navigation .nav-items {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #71402d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: right 0.3s ease-in-out;
    z-index: 2000;
  }
  header .nav .nav-container .navigation .nav-items.active {
    right: 0;
  }
  header .nav .nav-container .navigation .nav-items li {
    margin: 20px 0;
  }
  header .nav .nav-container .navigation .nav-items li a {
    font-size: 1.5rem;
    color: #f9efe0;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}
.hero {
  background: url("../img/background_img_final.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 800px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.hero .hero-content {
  text-align: center;
  color: #f9efe0;
  z-index: 2;
  margin-top: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.hero .hero-content .hero-logo {
  max-width: 240px;
  width: 100%;
}
.hero .hero-content .hero-year {
  font-size: 1.1rem;
  font-family: "Poppins", serif;
  font-weight: 400;
  letter-spacing: 5px;
  color: #f9efe0;
  line-height: 30px;
  padding-top: 10px;
}
.hero .hero-middle {
  text-align: center;
  z-index: 2;
  padding-bottom: 30px;
}
.hero .hero-middle .hero-text {
  font-size: 2rem;
  font-family: "Lora", serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 15px;
  color: #debe4e;
  padding-bottom: 25px;
  text-shadow: -1px -1px 0 #71402d, 1px -1px 0 #71402d, -1px 1px 0 #71402d, 1px 1px 0 #71402d;
}
.hero .hero-footer {
  text-align: center;
  color: #f9efe0;
  z-index: 2;
  padding-bottom: 60px;
}
.hero .hero-footer .hero-info {
  font-size: 1.1rem;
  font-family: "Poppins", serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 25px;
  padding-bottom: 15px;
}
.hero .hero-footer .hero-phone {
  font-size: 1.3rem;
  font-family: "Poppins", serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 25px;
}
.hero .hero-footer .hero-phone a {
  color: #f9efe0;
  text-decoration: none;
}
.hero .hero-footer .hero-phone a:visited {
  color: #f9efe0;
}

@media screen and (max-width: 1600px) {
  .hero {
    min-height: 500px;
  }
  .hero .hero-content .hero-logo {
    max-width: 220px;
  }
  .hero .hero-content .hero-year {
    font-size: 1rem;
  }
  .hero .hero-middle .hero-text {
    font-size: 1.8rem;
  }
  .hero .hero-footer .hero-info {
    font-size: 1rem;
  }
  .hero .hero-footer .hero-phone {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1400px) {
  .hero {
    min-height: 600px;
  }
  .hero .hero-content .hero-logo {
    max-width: 200px;
  }
  .hero .hero-content .hero-year {
    font-size: 1rem;
  }
  .hero .hero-middle .hero-text {
    font-size: 1.7rem;
  }
  .hero .hero-footer .hero-info {
    font-size: 1rem;
  }
  .hero .hero-footer .hero-phone {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1094px) {
  .hero {
    min-height: 450px;
  }
  .hero .hero-content .hero-logo {
    max-width: 200px;
  }
  .hero .hero-content .hero-year {
    font-size: 1rem;
  }
  .hero .hero-middle .hero-text {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  .hero .hero-footer .hero-info {
    font-size: 0.9rem;
  }
  .hero .hero-footer .hero-phone {
    font-size: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .hero {
    min-height: 400px;
  }
  .hero .hero-content .hero-logo {
    max-width: 190px;
  }
  .hero .hero-content .hero-year {
    font-size: 0.9rem;
  }
  .hero .hero-middle .hero-text {
    font-size: 1.4rem;
    padding-bottom: 20px;
  }
  .hero .hero-footer {
    padding-bottom: 55px;
  }
  .hero .hero-footer .hero-info {
    font-size: 0.9rem;
  }
  .hero .hero-footer .hero-phone {
    font-size: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .hero {
    min-height: 400px;
  }
  .hero .hero-content .hero-logo {
    max-width: 190px;
  }
  .hero .hero-content .hero-year {
    font-size: 0.9rem;
  }
  .hero .hero-middle .hero-text {
    font-size: 1.4rem;
    padding-bottom: 20px;
  }
  .hero .hero-footer {
    padding-bottom: 50px;
  }
  .hero .hero-footer .hero-info {
    font-size: 0.9rem;
  }
  .hero .hero-footer .hero-phone {
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .hero {
    min-height: 400px;
  }
  .hero .hero-content .hero-logo {
    max-width: 190px;
  }
  .hero .hero-content .hero-year {
    font-size: 0.9rem;
  }
  .hero .hero-middle .hero-text {
    font-size: 1.3rem;
    padding-bottom: 20px;
  }
  .hero .hero-footer {
    padding-bottom: 45px;
  }
  .hero .hero-footer .hero-info {
    font-size: 0.8rem;
  }
  .hero .hero-footer .hero-phone {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 490px) {
  .hero {
    min-height: 400px;
  }
  .hero .hero-content .hero-logo {
    max-width: 170px;
  }
  .hero .hero-content .hero-year {
    font-size: 0.9rem;
  }
  .hero .hero-middle .hero-text {
    font-size: 1.2rem;
    padding-bottom: 0px;
    align-items: center;
    line-height: 20px;
    letter-spacing: 3px;
  }
  .hero .hero-footer {
    padding-bottom: 35px;
  }
  .hero .hero-footer .hero-info {
    font-size: 0.8rem;
  }
  .hero .hero-footer .hero-phone {
    font-size: 0.9rem;
  }
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  margin: 0;
  background-color: #f9efe0;
  color: #f9efe0;
  overflow-x: hidden;
  min-height: 460px;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

main {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  text-align: center;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8deda;
  height: 100vh;
}
.gallery-container .gallery-name {
  font-size: 3.5rem;
  font-family: "Lora", serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 50px 0px;
  color: #debe4e;
  text-shadow: -1px -1px 0 #71402d, 1px -1px 0 #71402d, -1px 1px 0 #71402d, 1px 1px 0 #71402d;
  text-align: center;
}
.gallery-container .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 1400px;
}
.gallery-container .gallery .gallery-item {
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.gallery-container .gallery .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.gallery-container .gallery .gallery-item:hover img {
  transform: scale(1.05);
  opacity: 0.6;
}
.gallery-container .gallery .tall {
  grid-row: span 2;
  grid-column: span 1;
  height: 465px;
}
.gallery-container .gallery .square {
  grid-row: span 1;
  grid-column: span 1;
  height: 225px;
}
.gallery-container .gallery .wide {
  grid-row: span 1;
  grid-column: span 2;
  height: 225px;
}
.gallery-container .gallery .narrow {
  grid-row: span 1;
  grid-column: span 1;
  height: 75px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.lightbox #lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border: 5px solid #f9efe0;
}
.lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #f9efe0;
  cursor: pointer;
  transition: 0.3s ease;
}
.lightbox .close:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1600px) {
  .gallery-container .gallery-name {
    font-size: 3.5rem;
  }
  .gallery-container .gallery {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    width: 90%;
    gap: 10px;
  }
  .gallery-container .gallery .tall {
    grid-row: span 2;
    grid-column: span 1;
    height: 430px;
  }
  .gallery-container .gallery .square {
    grid-row: span 1;
    grid-column: span 1;
    height: 210px;
  }
  .gallery-container .gallery .wide {
    grid-row: span 1;
    grid-column: span 2;
    height: 210px;
  }
  .gallery-container .gallery .narrow {
    grid-row: span 1;
    grid-column: span 1;
    height: 75px;
  }
}
@media screen and (max-width: 1400px) {
  .gallery-container .gallery-name {
    font-size: 3rem;
  }
  .gallery-container .gallery {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    width: 90%;
    gap: 10px;
  }
  .gallery-container .gallery .tall {
    grid-row: span 2;
    grid-column: span 1;
    height: 430px;
  }
  .gallery-container .gallery .square {
    grid-row: span 1;
    grid-column: span 1;
    height: 210px;
  }
  .gallery-container .gallery .wide {
    grid-row: span 1;
    grid-column: span 2;
    height: 210px;
  }
  .gallery-container .gallery .narrow {
    grid-row: span 1;
    grid-column: span 1;
    height: 75px;
  }
}
@media screen and (max-width: 1094px) {
  .gallery-container {
    padding-bottom: 50px;
    height: auto;
  }
  .gallery-container .gallery-name {
    font-size: 2.5rem;
    padding: 30px 0px;
  }
  .gallery-container .gallery {
    grid-template-columns: repeat(4, 1fr);
    max-width: 900px;
    width: 90%;
    gap: 10px;
  }
  .gallery-container .gallery .tall {
    grid-row: span 2;
    grid-column: span 1;
    height: 380px;
  }
  .gallery-container .gallery .square {
    grid-row: span 1;
    grid-column: span 1;
    height: 185px;
  }
  .gallery-container .gallery .wide {
    grid-row: span 1;
    grid-column: span 2;
    height: 185px;
  }
  .gallery-container .gallery .narrow {
    grid-row: span 1;
    grid-column: span 1;
    height: 75px;
  }
}
@media screen and (max-width: 850px) {
  .gallery-container {
    padding-bottom: 50px;
    height: auto;
  }
  .gallery-container .gallery-name {
    font-size: 2.5rem;
    padding: 30px 0px;
  }
  .gallery-container .gallery {
    grid-template-columns: repeat(4, 1fr);
    max-width: 700px;
    width: 90%;
    gap: 10px;
  }
  .gallery-container .gallery .tall {
    grid-row: span 2;
    grid-column: span 1;
    height: 330px;
  }
  .gallery-container .gallery .square {
    grid-row: span 1;
    grid-column: span 1;
    height: 160px;
  }
  .gallery-container .gallery .wide {
    grid-row: span 1;
    grid-column: span 2;
    height: 160px;
  }
  .gallery-container .gallery .narrow {
    grid-row: span 1;
    grid-column: span 1;
    height: 75px;
  }
}
@media screen and (max-width: 768px) {
  .gallery-container {
    padding-bottom: 50px;
    height: auto;
  }
  .gallery-container .gallery-name {
    font-size: 2.1rem;
    padding: 30px 0px;
  }
  .gallery-container .gallery {
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    width: 90%;
    gap: 10px;
  }
  .gallery-container .gallery .tall {
    grid-row: span 2;
    grid-column: span 1;
    height: 290px;
  }
  .gallery-container .gallery .square {
    grid-row: span 1;
    grid-column: span 1;
    height: 140px;
  }
  .gallery-container .gallery .wide {
    grid-row: span 1;
    grid-column: span 2;
    height: 140px;
  }
  .gallery-container .gallery .narrow {
    grid-row: span 1;
    grid-column: span 1;
    height: 75px;
  }
}
@media screen and (max-width: 576px) {
  .gallery-container {
    padding-bottom: 50px;
    height: auto;
  }
  .gallery-container .gallery-name {
    font-size: 2rem;
    padding: 30px 0px;
  }
  .gallery-container .gallery {
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    width: 90%;
    gap: 10px;
  }
  .gallery-container .gallery .tall {
    grid-row: span 2;
    grid-column: span 1;
    height: 230px;
  }
  .gallery-container .gallery .square {
    grid-row: span 1;
    grid-column: span 1;
    height: 110px;
  }
  .gallery-container .gallery .wide {
    grid-row: span 1;
    grid-column: span 2;
    height: 110px;
  }
  .gallery-container .gallery .narrow {
    grid-row: span 1;
    grid-column: span 1;
    height: 75px;
  }
}
@media screen and (max-width: 490px) {
  .gallery-container {
    padding-bottom: 50px;
    height: auto;
  }
  .gallery-container .gallery-name {
    font-size: 2rem;
    padding: 30px 0px;
  }
  .gallery-container .gallery {
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    width: 90%;
    gap: 10px;
  }
  .gallery-container .gallery .tall {
    grid-row: span 2;
    grid-column: span 1;
    height: 210px;
  }
  .gallery-container .gallery .square {
    grid-row: span 1;
    grid-column: span 1;
    height: 100px;
  }
  .gallery-container .gallery .wide {
    grid-row: span 1;
    grid-column: span 2;
    height: 100px;
  }
  .gallery-container .gallery .narrow {
    grid-row: span 1;
    grid-column: span 1;
    height: 75px;
  }
}